@use '../custom' as *;



body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $secondary;
    background: $light;
}
img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}


